{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Appointment Booking</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="stylesheet" href="{% static "appointment_styles.css" %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <h1>EASY Health Care</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#doctors">Available Doctors</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/appointment">Appointments</a></li>
                <li><a href="/assistant">AI Assistant</a></li>
                {% if user.is_authenticated %}
        <div class="user_info">
            <span>Welcome, {{ user.username }}!</span>
            <form method="post" action="/logout">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
        </div>
        {% else %}
        
        <div class="user">
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </div>
                {% endif %}
            </ul>
            
        </div>
    </nav>
    <section id="appointments" class="section">
        <div class="glass-card">
            <h2>Book an Appointment</h2>
            <form id="appointmentForm" method="POST" action="/appointment">
                {% csrf_token %}
                <label for="doctor">Choose a Doctor:</label>
                <select id="doctor" name="doctor" required>
                    <option value="Dr. John Doe">Dr. John Doe - Cardiologist</option>
                    <option value="Dr. Jane Smith">Dr. Jane Smith - Dermatologist</option>
                    <option value="Dr. Emily White">Dr. Emily White - Pediatrician</option>
                    <option value="Dr. Mark Black">Dr. Mark Black - Orthopedic Surgeon</option>
                </select>
                <br><br>
                <label for="date">Choose Date:</label>
                <input type="date" id="date" name="date" required>
                <br><br>
                <button type="submit">Book Appointment</button>
            </form>
        </div>
    </section>
    <section id="appointments">
        <div class="app_list">
            <ul>{% for appointment in appointments %}
                <li>You have an Appointment at {{appointment.app_date}} with Doctor: {{appointment.doc_name}}</li>
               {% endfor %}
            </ul>
        </div>
        
    </section>

    <script>
        

    </script>
</body>
</html>
